@use './../base/variables' as *;

.realizarPedido{
    background-image: url("/imagenes/banner2.webp");
}

.realizarPedido-contenedor1{
    background-color: #fffffff3;
    padding-bottom:2rem ;
}

.realizarPedido-contenedor {
    @media (min-width: $mediano) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .realizarPedido-contenedor_titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-top: 2rem;

        @media (min-width: $grande) {
            justify-content: left;

        }

        .realizarPedido-contenedor_titulo_iconoVolver {
            margin-right: 1rem;
            color: $oscuro;
            font-size: 1.8rem;

            &:hover {
                color: $colorPrincipal;
            }

        }

        h2 {
            font-size: 1.8rem;

        }
    }

    .realizarPedido-contenedor_formulario {
        width: 90%;
        margin: auto;

        div {
            display: flex;
            flex-direction: column;
            margin: 1rem auto;

            label {
                margin-bottom: 0.2rem;
                font-size: 0.8rem;
                font-weight: bold;
                color: #353535;

            }

            input {
                height: 2rem;
                border: solid 1px #cacaca;
                padding: 0.2rem;
                border-radius: 0.5rem;

                &::placeholder {
                    font-family: $fuentePrincipal;
                }
            }

            textarea {
                height: 8rem;
                border: solid 1px #cacaca;
                padding: 0.2rem;
                border-radius: 0.5rem;

                &::placeholder {
                    font-family: $fuentePrincipal;
                }
            }

            .error {
                padding: 0.2rem;
                background-color: $colorSecundario;
                font-family: $fuentePrincipal;
                font-size: 0.8rem;
                font-weight: 500;
                color: $claro;

            }

        }

        button {
            display: block;
            width: 60%;
            margin: auto;
           
            border: none;
            padding: 1rem;
            border-radius: 1.5rem;
            background-color: $colorSecundario;
            color: $claro;
            text-align: center;
            text-transform: uppercase;
            font-family: $fuentePrincipal;
            font-size: 1rem;
            font-weight: bold;

            @media (min-width: $grande) {
                width: 40%;

            }

            &:hover{
                background-color: #f72424;
            }
        }
    }

   
    .realizarPedido-carritoContenedor{
        margin: 1rem;
        border-radius: 1rem;
        background-color: $claro;
        border: 1px solid #cacaca;
        @media (min-width: $mediano) {
            height: 40rem;
        }
        @media (min-width: $grande) {
            margin: 2rem;
            height: 41rem;
        }
        
    }

    .realizarPedido-carritoContenido {
        background-color: $claro;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 0.6rem;


        @media(min-width: $mediano) {
            height: 30rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 16px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #929292;
                border-radius: 8px;
                border: 2px solid #f1f1f1;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #727272;
            }
        }

        @media(min-width: $grande){
            font-size: 1rem;
        }
    }
    .realizarPedido-carritoTitulo {
        text-align: center;
        margin: 2rem;


    }

    .realizarPedido-cantidad {
        text-align: center;
    }

    .realizarPedido-carritoTotal{
        margin: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        @media (min-width: $grande) {
            font-size: 1.5rem;
        }
        .totalLabel{
            color: #f56410;
        }
    }


}