//PALETA DE COLORES
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

$colorPrincipal: #7db300;
$colorSecundario: #ED4331;
$colorTerciario: #8FCC00;
$claro: #fff;
$oscuro: #000;

//FUENTES
$fuentePrincipal: 'Montserrat', sans-serif;

//TAMANOS PARA RESPONSIVE 
$mediano: 600px; //tablet
$grande: 1200px; //computadora o portatil 